<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       <span class="gradient-logo">saved
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <img src="assets/icon/CobWebLogoTransparentv1.png" alt="CobWeb" style="height: 60px; margin-right: 12px;" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Saved</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
